<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rent a Car</title>
        <link rel="stylesheet" href="/stylesheets/home.css">
    </head>
    <body>
        <%- include('partials/navbar.ejs'); %>
        <%- include('partials/messages.ejs'); %>
        <main class="section-top">
            <div class="naslov">
                <p>rent a car</p>
            </div>
            <div class="content">
                <a class="btn btn-info shadow" style="border-radius: 30px; letter-spacing: 2px;" href="/vozila"> Vidi ponudu</a>
            </div>
    </main> 
        <%- include('partials/footer.ejs'); %>