html, body {
    height: 100%;
    width: 100%;
  }
  
  main{
    min-height: 100%;
  }

  .footer{
    background-color: #343a40;
    color: rgb(223, 222, 222);
    height: 120px;
    position: relative;
  }
  
  .footer .footer-bottom {
    background-color: #272a2e;
    color: rgb(167, 167, 167);
    height: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 10px;
  }

 .footer .footer-content {
    height: 110px;
    display: flex;
  }

  .footer .footer-content .footer-section {
    flex: 1;
    margin: auto;
    display: flex;
    padding-left: 30px;
    align-items: center;
  }

  .vozilo {
    margin: 20px 0;
  }

  .vozilo-sidebar {
    padding: 20px 0 20px 0;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .vozilo-userpic img {
    float: none;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    width: 90%;
    height: 100%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 30% !important;
  }

  .vozilo-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .vozilo-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }